/* Menu Header */
.menuHeader{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
}

.menuContainer{
    margin-top: 0px;
    height: calc(100% - 170px);
    padding: 0px 10px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.topHeader{
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
}

.navContainer {
    display: flex;
    padding: 13px 10px;
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
}

.catList {
    display: flex;
    flex-direction: row;
    min-width: max-content; /* Prevent items from shrinking too much */
}

.navItem {
    display: block;
    text-decoration: none;
    list-style: none;
    margin-right: 10px; /* Adjust spacing between items */
}

/**/

.menuView{
    height: 100vh;
}

/* Categories Section */

.categoryContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 8px;
}

.categoryDetails{
    display: block;
}

.categoryTitle{
    text-align: center;
}

.subcategoriesContainer{
    margin: 0px;
}

/* Subcategories Section */

.subcategoryContainer{
    padding: 10px;
    margin: 20px 0px;
    border-radius: 3px;
}

.subcategoryDetails{
    margin-bottom: 25px;
}

.subcategoryTitle{

}

.itemsContainer{
}

/* Items Section */
.itemContainer{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.itemDetails{
    padding-right: 10px;
    width: 67%;
}
.itemTitle{
    margin-bottom: 10px;
}
.itemPhotoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33%;
}


/* Scroll bars */

/* Adjust the scrollbar width */
.navContainer::-webkit-scrollbar {
    width: 5px; 
    height: 7px;
}

/* Handle portion of the scrollbar */
.navContainer::-webkit-scrollbar-thumb {
    background-color: black; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners of the scrollbar thumb */
}

/* Track portion of the scrollbar */
.navContainer::-webkit-scrollbar-track {
    background-color: white; /* Color of the scrollbar track */
}



/* Media query for mobile phones */
@media only screen and (max-width: 600px) {
    /* Your styles for mobile phones here */
  }


/* Media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Your styles for tablets here */
  }


  /* Media query for desktop computers */
  /*
@media only screen and (min-width: 1025px) {
   .menuView{
        display: flex;
   }
   .menuHeader{
        display: flex;
        width: 25%;
        height: 100vh;
    }
    .menuContainer{
        margin-top: 0px;
        height: 100vh;
        width: 75%;
    }
    .navContainer {
        flex-direction: column;
        padding: 13px 10px;
        width: 100%;
        overflow-x: hidden; 
    }
    .catList {
        display: flex;
        flex-direction: column;
        min-width: max-content; 
    }
}
*/

  