.boxContainer{
    width: calc( 25% - 50px);
    text-align: center;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(137, 142, 143);
    border-radius: 5px;
    margin: 15px 20px;
    padding: 5px;
}

.boxOptions{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.boxButton{
  background-color:rgb(137, 142, 143);
  border: none;
  margin: 5px 10px;
}

/* Mobile Devices (up to 767px) */
@media only screen and (max-width: 767px) {
    .boxContainer{
        width: 180px;
        height: 160px;
        margin: 5px;
    }
  }
  
  /* Tablets (768px to 1023px) */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Your CSS styles for tablets here */
  }

