.categoryContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.categoryDetails{
    display: block;
}

.categoryTitle{
    text-align: center;
}

.subcategoriesContainer{
}

/* Items Section */

.subcategoryContainer{
    margin: 20px 00px;
}

.subcategoryDetails{
    margin-bottom: 25px;
}

.subcategoryTitle{

}

.itemsContainer{
}

/* Items Section */
.itemContainer{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.itemDetails{
    padding-right: 10px;
    width: 67%;
}
.itemTitle{
    margin-bottom: 10px;
}
.itemPhotoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33%;
}
