.mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    color: var(--primaryColor);
}

.editorContainer{
    display: flex;
    flex-direction: row;
    color: black;
    width: 70%;
    padding: 10px;
    background-color: var(--thirdColor);
}

.buttons{
    display: flex;
}

.restaurantInfoEditor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}

.categoriesContainer{
    background-color: var(--thirdColor);
    height: calc(100vh - 150px);
    width: calc( 100% - 250px);
    overflow-y: auto;
}

.categoryEditorContainer{
    display: flex;
    flex-direction: column;
    color: black;
    width: calc(100% - 10px);
    min-width: 360px;
    padding: 5px;
    margin: 5px;
    background-color: var(--thirdColor);
    border-radius: 4px;
    box-shadow: 4px 5px 15px 3px rgba(0, 0, 0, 0.15); /* Stronger shadow */
}

.categoryEditorContainerGhost{
    display: none;
    flex-direction: column;
    color: black;
    width: calc(100% - 10px);
    min-width: 360px;
    padding: 5px;
    margin: 5px;
    background-color: var(--thirdColor);
    border-radius: 4px;
    box-shadow: 4px 5px 15px 3px rgba(0, 0, 0, 0.15); /* Stronger shadow */
}

.editingContainer{
    display: flex;
}

.subcategoryEditorContainer{
    display: flex;
    flex-direction: column;
    color: black;
    width: calc(90% - 10px);
    min-width: 340px;
    padding: 5px;
    margin: 5px;
    background-color: var(--thirdColor);
    border-radius: 4px;
    box-shadow: 4px 5px 15px 3px rgba(0, 0, 0, 0.15); /* Stronger shadow */
}

.subcategoryEditorContainerGhost{
    display: none;
    flex-direction: column;
    color: black;
    width: calc(90% - 10px);
    min-width: 340px;
    padding: 5px;
    margin: 5px;
    background-color: var(--thirdColor);
    border-radius: 4px;
    box-shadow: 4px 5px 15px 3px rgba(0, 0, 0, 0.15); /* Stronger shadow */
}

.itemEditorContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
    width: calc(80% - 10px);
    min-width: 320px;
    padding: 5px;
    margin: 0px 5px;
    background-color: var(--thirdColor);
    /*
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    */
    box-shadow: 4px 5px 15px 3px rgba(0, 0, 0, 0.15); /* Stronger shadow */
}

.itemEditorContainerGhost{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
    width: calc(80% - 10px);
    min-width: 320px;
    padding: 5px;
    margin: 0px 5px;
    background-color: var(--thirdColor);
    /*
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    */
    box-shadow: 4px 5px 15px 3px rgba(0, 0, 0, 0.15); /* Stronger shadow */
}

.itemEditingArea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    padding-bottom: 17px;
}

.itemGap{
    display: block;
    height: 25px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    animation: gapGrow 1s cubic-bezier(0.4, 0, 0.2, 1) 1;
}

.optionsContainer{
    display: flex;
    justify-content: space-between;
}

.editingDetails{
    width: 70%;
}

.shortInfo{
    width: 30%;
}

.smallBtn{
    background-color: var(--thirdColor);
    padding: 0px;
    border: none;
    cursor: pointer;
}
.smallIcon{
    width: 20px;
    height: 20px;
}

.smallIconMove{
    width: 20px;
    height: 20px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.createNewBox{
    display: flex;
    flex-direction: column;
    color: black;
    width: calc(100% - 10px);
    margin: 5px;
    background-color: var(--thirdColor);
    border: 6px dashed var(--primaryColor);
}

.createNewCategoryBox{
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; 
    z-index: 100;
    display: flex;
    flex-direction: column;
    color: black;
    width: calc(100% - 10px);
    margin: 5px;
    background-color: var(--thirdColor);
    border: 6px dashed var(--primaryColor);
}

.createButton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    border: none;
    background-color: var(--thirdColor);
    color: #333;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.saveButton, .previewButton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    border: none;
    background-color: var(--thirdColor);
    color: #333;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.saveButtonMobile{
    display: none;
}
.createIcon{
    width: 20px;
    margin-right: 20px;
}
.previewContainer{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: calc(100vh - 130px);
    padding: 5px;
    word-wrap: break-word;
    background-color: var(--thirdColor);
}
.menuPreview{
    height: calc(100vh - 180px);
    padding: 0px;
}
.itemImageEditor{
    display: inline-block;
    position: relative;
}
.itemImageEditorDeleteIcon{
    display: block;
    padding: 2px;
    width: 15px;
    height: 15px;
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 3px;
    background-color: var(--thirdColor);
}


/* Animations */
@keyframes gapGrow {
  from {
    height: 0px;
  }
  to {
    height: 5px;
  }
}


/* Gallery container */
.galleryBackgroundContainer{
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(44, 44, 44, .4);
}

.galleryContainer{
    width: 80%;
}

.sideTab{
    display: none;
}

/* Media query for mobile phones */
@media only screen and (max-width: 1000px) {
    .mainContainer{
        padding: 0px;
        height: calc(100vh - 70px);
    }

    .previewContainer{
        display: none;
    }

    .infoEditorContainer{
        height: auto;
        position:fixed;
        left:-245px;
        display: flex;
        flex-direction: row;
        transition: left 0.5s ease-in-out;
        z-index: 101;
    }

    .infoEditorContainer.visible{
        left:0;
    }
    .infoEditorContainer.hidden {
        left:-245px;
    }

    .restaurantInfoEditor{
        padding: 15px;
        background-color: var(--thirdColor);
        display: flex;
        width: 100%;
    }


    .editorContainer{
        display: flex;
        flex-direction: row;
        color: black;
        width: 100%;
        padding: 10px;
        background-color: var(--thirdColor);
    }

    .buttons{
        flex-direction: row;
        justify-content: center;
    }

    .saveButton{
        display: none;
    }
    .previewButton{
        display: flex;
    }

    .sideTab {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--thirdColor); /* Text color */
        cursor: pointer; /* Change cursor to pointer on hover */
    }

    .leftArrowIcon{
        width: 30px;
        border-radius: 0 10px 10px 0;
        background-color: var(--thirdColor);
        transition: transform .51s ease-in-out;
    }

    .leftArrowIcon.show{
        transform: scaleX(1);

    }

    .leftArrowIcon.hide{
        transform: scaleX(-1);
    }
    
    .categoriesContainer{
        background-color: var(--thirdColor);
        height: calc(100vh - 90px);
        margin-bottom: 60px;
        width:100%;
        overflow-y: auto;
    }

    .subcategoryEditorContainer{
        display: flex;
        flex-direction: column;
        color: black;
        width: calc(100% - 10px);
        padding: 5px;
        margin: 5px;
    }
    
    .itemEditorContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: black;
        width: calc(100%);
        padding: 0px;
        margin: 5px 0px;
    }

    .itemEditorContainerGhost{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: black;
        width: calc(100%);
        padding: 0px;
        margin: 5px 0px;
    }
    
    .itemEditingArea{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .itemDetailsEditor{
        padding: 5px;
    }
   
    .optionsContainer{
        display: flex;
        width: calc(100% - 10px);
        justify-content: space-between;
    }

    .editingContainer{
        display: flex;
        flex-direction: column;
    }

    .editingDetails{
        width: 100%;
    }
    
    .shortInfo{
        width: 100%;
    }
    
    .saveButtonMobile{
        position: -webkit-sticky; /* For Safari */
        position: fixed;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 5px 0px;
        border: none;
        background-color: white;
        color: #333;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        bottom: 0;
        left: 0;
        z-index: 100;
    }

  
    .galleryBackgroundContainer{
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(44, 44, 44, .4);
    }
    .galleryContainer{
        width: 100%;
    }

  }
  